# Compiled Sources
###################
*.o
*.map
*.hex
*.dis
*.exe
*.gz
*.zip
*.7z
*.tar

# Packages 
############

# Windows Thumbnail
######################
Thumbs.db
thumbs.db

# Logs and Databases
######################
*.log

# VIM Swap Files
######################
*.swp

# Build directory
######################
build/
sdcard/

# Test failure outputs
######################
tests/*.exp
tests/*.out

# Python cache files
######################
__pycache__/

# Customized Makefile/project overrides
######################
GNUmakefile
user.props
PYNQ-git
ZUBoard_1CG/ZUBoard_1CGOverlay/ZUBoard_1CGOverlay
ZUBoard_1CG/ZUBoard_1CGOverlay/bdf
ZUBoard_1CG/ZUBoard_1CGOverlay/ZUBoard_1CGOverlay.bit
ZUBoard_1CG/ZUBoard_1CGOverlay/ZUBoard_1CGOverlay.hwh
ZUBoard_1CG/ZUBoard_1CGOverlay/ZUBoard_1CGOverlay.xsa
ZUBoard_1CG/ZUBoard_1CGOverlay/vivado.jou
ZUBoard_1CG/ZUBoard_1CGOverlay/vivado_*.backup.jou
ZUBoard_1CG/ZUBoard_1CGOverlay/vivado_*.backup.jou
ZUBoard_1CG/zuboard_1cg.bsp
ZUBoard_1CG-3.0.1.img
